<div class="container mt-5 bg-light p-4 rounded shadow border col-4 pb-3">
    <div class="card-body">
    <h2 class="text-center text-primary">Ajouter un produit</h2>
    <form [formGroup]="productForm" (ngSubmit)="updateProduct()" enctype="multipart/form-data">
      <div class="mb-3 form-group">
        <label>Nom du produit</label>
        <input type="text" class="form-control rounded shadow border" formControlName="name" required>
      </div>

      <div class="mb-3 form-group">
        <label>Price du produit</label>
        <input type="text" class="form-control rounded shadow border" formControlName="price" required>
      </div>
  
      <div class="mb-3 form-group">
        <label>Référence</label>
        <input type="text" class="form-control rounded shadow border" formControlName="reference" required>
      </div>
  
      <div class="mb-3 form-group">
        <label>Quantité</label>
        <input type="number" class="form-control rounded shadow border" formControlName="quantity" required>
      </div>

      <div class="mb-3 form-group">
        <label>Description du produit</label>
        <textarea class="form-control rounded shadow border" formControlName="content" id="content" required></textarea>
      </div>
  
      <div class="mb-3 form-group">
        <label>Catégorie</label>
        <select class="form-select rounded shadow border" formControlName="category_id" required>
          <option *ngFor="let cat of categories" [value]="cat.id">{{ cat.name }}</option>
        </select>
      </div>
  
      <div class="mb-3 form-group">
        <label>Image</label>
        <input type="file" class="form-control rounded shadow border" (change)="onFileSelected($event)">
      </div>
  
      <button type="submit" class="btn btn-primary form-control">Modifié</button>
    </form>
</div>
  </div>
  