<div class="container mt-3">
  <h2>Créer une Promotion</h2>
  <form [formGroup]="promoForm" (ngSubmit)="updatePromotion()">
    <div class="mb-3">
      <label>Nom</label>
      <input type="text" formControlName="name" class="form-control">
    </div>

    <div class="mb-3">
      <label>Type de réduction</label>
      <select formControlName="discount_type" class="form-control">
        <option value="pourcentage">Pourcentage</option>
        <option value="montant">Montant</option>
      </select>
    </div>

    <div class="mb-3">
      <label>Valeur de réduction</label>
      <input type="number" formControlName="discount_value" class="form-control">
    </div>

    <div class="mb-3">
      <label>Date début</label>
      <input type="date" formControlName="start_date" class="form-control">
    </div>

    <div class="mb-3">
      <label>Date fin</label>
      <input type="date" formControlName="end_date" class="form-control">
    </div>

    <button type="submit" class="btn btn-success">Créer</button>
  </form>
</div>
